body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    /*overflow: hidden;*/
}

html,
body {
    overscroll-behavior: none;
}

* h2 {
    font-size: 20px;
    font-weight: 500;
    color: darkgray;
    font-family: Helvetica, Arial, sans-serif;
}




/* ============================== */
/*           Title Bar            */
/* ============================== */


.title-bar img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: 4px;

}

.title-bar {
    -webkit-app-region: drag;
    background-color: #3333334a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-bar-button {
    filter: saturate(230%);
    -webkit-app-region: no-drag;
    margin-top: 3px;
    margin-right: 3px;
}

.title-bar-button:hover {
    background-color: #333333;
}

.title-bar .title-image {
    width: 100px;
    height: 15px;
    margin-left: 10px;
    margin-top: 3px;
    opacity: 0.75;

}

/* ============================== */
/*         Create Button          */
/* ============================== */


#create-button {
    width: 340px;
    height: 80px;
    overflow: hidden;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-align: center;
    /* Adds a visible border */
}



#create-button-background {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    pointer-events: none;
    cursor: pointer;
    text-align: center;
}



#create-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}